################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ITL/v17/.wsuo
/.vs/VSWorkspaceState.json
